<form action='directions' method="post">
    {% csrf_token %}
    <label for="origin">Origin:</label>
    <input type="text" id="origin" name="origin" />
    <br><br>
    <label for="dest">Destination:</label>
    <input type="text" id="dest" name="dest" />
    <br><br>
    <label for="type">TripType First Preference:</label>
        <select id="type" name = "type">
  <option value="adventures">Adventures</option>
  <option value="kids">Kids</option>
  <option value="relaxing">Relaxing</option>
  <option value="other">Other</option>
</select>
    <br><br>
        <label for="type2">SecondType Second Preference:</label>
        <select id="type2" name = "type2">
<option value="adventures">Adventures</option>
  <option value="kids">Kids</option>
  <option value="relaxing">Relaxing</option>
  <option value="other">Other</option>
</select>
<br>
         <button type="submit">Directions and HotSpots</button>
</form>
